<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color:black;">
                <h2>Add a New Team</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <label>Team Number: </label>
                <input type="number" id="teamId">
                <br />
                <label>Team Name: </label>
                <input type="text" id="name" />
                <br />
                <label>Scale: </label>
                <input type="checkbox" id="scale">
                <label>switch: </label>
                <input type="checkbox" id="switch">
                <label>Exchange: </label>
                <input type="checkbox" id="exchange">
                <br />
                <label>Comments</label>
                <input type="text" id="comment" />
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-click="answer()">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>