<div ng-app="myApp" ng-controller="scout">
    <!--
    <p>
        Team Number: <label>{{teamid}}</label><br>
    </p>
    <button mat-raised-button (click)="addColumn()"> Add column </button>
    <button mat-raised-button (click)="removeColumn()"> Remove column </button>
    <button mat-raised-button (click)="shuffle()"> Shuffle </button>-->

   

    <div layout="row" ng-cloak style="height: 300px">
          <style>
              .edgePadding {
                padding-left: 25px;
                padding-right: 25px;
              }

          </style>

          <div id="left" layout="column" layout-align="center center" class="md-padding">
          </div>

          <div layout="column" layout-align="center start" layout-padding flex>
              <div class="dialog-demo-content" layout="column" layout-align="left center" style="width:100%">
                  <h1>FRC Power Up 2018 {{status}}</h1>
                  

                  <div id="div_VenueList">
                      <table class="table table-striped">
                          <tr>
                              <td>
                              <md-button style="background-color:black;" class="md-primary md-raised" ng-click="showAdvanced($event)">
                                    New team
                                </md-button></td>
                              <td>Team Number</td>
                              <td>Team Name</td>
                              <td>Switch</td>
                              <td>Scale</td>
                              <td>Exchange</td>
                              <td>Comments</td>
                          </tr>

                          <tr ng-repeat="team in teamList">
                              <td></td>
                              <td>{{team.teamId}}</td>
                              <td>{{team.name}}</td>
                              <td>{{team.switch}}</td>
                              <td>{{team.scale}}</td>
                              <td>{{team.exchange}}</td>
                              <td>{{team.comments}}</td>
                          </tr>
                      </table>

                  </div>
              </div>

          </div>

          <div id="right" layout="column" layout-align="center center" class="md-padding">
          </div>
        </div>

</div>