<div class="slideshow">
    <ul class="slideshow-slides">
        <li ng-repeat="slide in slides" ng-class="{ active: $index == activeIndex }">
            <figure>
                <img ng-src="{{ slide.imageUrl}}" />
                <figcaption ng-show="slide.caption">{{ slide.caption }}</figcaption>
            </figure>
        </li>
    </ul>
    <ul class="slideshow-dots">
        <li ng-repeat="slide in slides" ng-class="{ active: $index == activeIndex }">
            <a ng-click="jumpToSlide($index)">{{ $index + 1 }}</a>
        </li>
    </ul>
</div>